<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BH FINDER</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
<body>

<nav class="navbar bg-dark">
    <div class="container">
        <a href="{% url 'home' %}"><img src="{% static 'image/isu-logo.png' %}" alt="" width="50"></a>
        <a href="#" class="navbar-brand text-light mx-auto">
            CAUAYAN CITY BOARDING-HOUSE GEOGRAPHICAL INFORMATION SYSTEM</a>

        <!-- Example split danger button -->
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <img src="{% static 'image/user.png' %}" alt="" width="45">
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'my-bh' user.id %}">My BH</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        {% block content %}

        {% endblock %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>