{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-between my-3">
    <div class="col-4">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    <div class="col-auto">
        <!-- Add bh button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Boarding House
        </button>
    </div>
</div>

{% include 'bh-form.html' %}

<div class="row justify-content-between">
    <div class="col-4">
        <div class="d-grid gap-2 d-md-block mb-2">
            <button class="btn btn-sm btn-outline-primary">All</button>
            <button class="btn btn-sm btn-outline-primary">Nearby</button>
        </div>
        <div class="list-group">
            {% for bh in boarding_houses %}
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{bh.name}}</h5>
                    <small class="text-muted">{{bh.location}}</small>
                </div>
                <p class="mb-1">{{bh.description}}</p>
                <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted mt-2">{{bh.updated|timesince}} ago</small>
                    <a href="{% url 'bh-detail' bh.id %}" class="btn btn-sm btn-primary">View Detail</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-7">
        <!-- Maps -->
        <iframe width="835" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                id="gmap_canvas"
                src="https://maps.google.com/maps?width=835&amp;height=500&amp;hl=en&amp;q=%20Cauayan%20City+(Cauayan%20City)&amp;t=h&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        <a href='https://addmap.net/'>google maps embedded</a>
        <script type='text/javascript'
                src='https://embedmaps.com/google-maps-authorization/script.js?id=c2fbea0006c9ad0d72fa28eca16a91c4fdb87704'></script>
    </div>
</div>
{% endblock %}