{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card text-bg-dark w-25 mx-auto mt-4" xmlns="http://www.w3.org/1999/html">
    <h1 class="card-title text-center my-4">REGISTER</h1>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-floating text-dark mx-1">
            <input class="form-control" {{field}}>
            <label>{{field.label}}</label>
        </div>
        {% endfor %}

        <button class="btn btn-primary mb-3 w-50 d-grid mx-auto">Register</button>
        <div class="d-grid">
            <p class="mx-auto">Have an account? <a class="text-decoration-none"
                                                   href="{% url 'login' %}">Login</a></p>
        </div>
    </form>

</div>


{% endblock %}